h2{

  font-size: 70px;
  color: black;
  font-weight: bold;
}

img{
  float: left;
  margin-bottom: 15px;
}

#container-header-title{
  float: left;
}

button{
  float: left;
}
#search{
  
  float: left;
  z-index: '';
  margin-bottom: 15px;
}
#botonNav{
  background-color: #703EA2;
}

@media screen and (max-width: 800px) {
  h2{
    font-size: 50px;
  }

}

@media screen and (max-width: 390px) {
  h2{
    font-size: 40px;
  }

}
