<footer class=" footer-color">
  <div class="row">
    <div class="col-lg-12">

      <!--Titulo-->
      <h2 class="col-lg-7 col-sm-12 footer-title" style="float: left; text-align: end;">-Herbolario de Ana-</h2>

      <!--Logo-->
      <img class="col-lg-1 col-3 float-end logo-page" src="../../../../assets/Prue/logo.png">

      <!--Iconos de las redes-->
      <div class="svg-i svg-i-princ col-lg-1 col-12" style="float: left;">

        <img class="icon-red" src="../../../../assets/Prue/facebook-round-color-icon.svg">

      </div>

      <div class="svg-i col-lg-1 col-12" style="float: left;">

        <img class="icon-red" src="../../../../assets/Prue/ig-instagram-icon.svg">


      </div>

      <div class="svg-i col-lg-1 col-12" style="float: left;">

        <img class="icon-red" src="../../../../assets/Prue/linkedin-app-icon.svg">


      </div>

    </div>


  </div>

  <!--Info Contacto-->
  <div class="row mt-5">
    <div class="col-lg-12 ">
      <h2 class="col-lg-4 container-cont"><i class="bi bi-phone-fill"></i> 672 242 131</h2>
      <h2 class="col-lg-4 container-cont" ><i class="bi bi-envelope-fill"></i> juan@gmail.com</h2>
      <h2 class="col-lg-4 container-cont"><i class="bi bi-geo-alt-fill"></i> Calle sin numero</h2>
    </div>



  </div>



      <!--Contenedor fantasma-->








</footer>




