
<!-- Boton de navegacion -->
<mat-sidenav-container fullscreen >

  <mat-sidenav #sidenav mode="push" >

    <mat-toolbar >

      <span>Menú</span>
      <span class="spacer"></span>

      <button id="icon-btn-close" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon >close</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listado" (click)="sidenav.toggle()" mat-list-item style="background-color:#C19FCD ;"> <mat-icon mat-list-icon>room</mat-icon>Contactanos</a>
      <hr>
      <a routerLink="./agregar" (click)="sidenav.toggle()" mat-list-item> <mat-icon mat-list-icon>add</mat-icon> Añadir Héroes</a>

      <a routerLink="./buscar" (click)="sidenav.toggle()" mat-list-item> <mat-icon mat-list-icon>search</mat-icon> Buscar Héroes</a>

    </mat-nav-list>

  </mat-sidenav>

  <!--Header-->
  <div id="header_container" >
    <mat-toolbar class="fixed-top">
      <button id="icon-btn-menu" mat-icon-button (click)="sidenav.toggle()" style="color:black ;">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="container">
        <app-header-menu></app-header-menu>
    </div>
  </div>

  <!--ROUTER ESTO SERA EL BODY QUE IRA CAMBIANDO DEPENDIENDO DE LA RUTA-->

  <router-outlet></router-outlet>

  <!--FOOTER-->
  <app-footer></app-footer>

</mat-sidenav-container>





