

  <div class="prue layer">
    <div class="container">
      <div class="row">
        <div id="carouselExampleCaptions" class="carousel slide col-lg-7 col-12 mt-5 carousel-container" data-bs-ride="carousel" >
          <div class="carousel-indicators">

            <mat-radio-group>
              <mat-radio-button value="value1" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></mat-radio-button>
              <mat-radio-button value="value2" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></mat-radio-button>
            </mat-radio-group>

          </div>
          <div class="carousel-inner" >
            <div class="carousel-item active">
              <img src="../../../assets/Prue/DSC01196.JPG" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <button class="btn btn-danger mb-2">Ver Producto</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Prue/DSC01195.JPG" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="col-lg-3 col-12 mt-5 container-title">
          <h1 class="size-text">Productos destacados</h1>
        </div>
      </div>
    </div>
  </div>

