
.prue{
  aspect-ratio: 960/200;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer{
  background-image: url('../../../../assets/Prue/vector-rosado.svg');
}
.row{
  --bs-gutter-x:0rem !important;
}

img{
  height: 100%;
}
.container-title{
  size: 160px;
  padding-top: 120px;
  margin: 0% auto;
}

.size-text{
  font-size: 70px;
}


.carousel-item{
  height: 360px;
}

@media screen and (max-width:1507px){
  .prue{
    margin-bottom: 40px;

  }

}


@media screen and (max-width:766px){

}
